@page
@model BoldSign.Demos.Pages.TemplateDocument.SendModel
@{
    var sampleList = Model.BoldSignDemoViewModel.SamplesLists;
    var templateDetails = Model.BoldSignDemoViewModel.TemplateDetails;
    var templateSampleDetail = sampleList.Where(x => x.Id == 3).FirstOrDefault();
    ViewBag.Title = templateSampleDetail.Name + " - BoldSign API Demo";

}
<div class="bs_font_family">
    <div class="pb_32 bs_crump pt_116">
        <span><a class="text-decoration-none bs_color_0565FF fs-16 lh_20 bs_ff_normal " href="/">API Demos </a></span><span class="bs_color_141D30"> > </span><span class="fs-16 lh_20 bs_color_666E80">Template Document </span>
    </div>
    <div class="lh_19 pb_16 fs-16 bs_color_141D30 bs_text-success max_w_900"> <img class="bs_text-success-img" src="@Url.Content("~/images/check-circle.svg")" />A signature request was successfully sent to @templateDetails.Email pre-filled with the information that you had provided. A document(@templateDetails.DocumentId) sent to  for signing with the given name prefilled.</div>
</div>
<div class="bs-vs-seprator border-none mb_32"></div>
<div class="bs_color_141D30 fs_24 lh_30 pb_32">Other Demos</div>
<partial name="~/Pages/Partial/ListCards.cshtml" model="@sampleList.Where(x => x.Id != 3 && x.IsDisplayCard)" />

