@page 
@model BoldSign.Demos.Pages.EmbeddedSample.CompletedModel
@{
    var templatedetails = Model.BoldSignDemoViewModel.EmbeddedTemplate;
    var sampleList = Model.BoldSignDemoViewModel.SamplesLists;
    var embeddedSignSampleDetail = sampleList.Where(x => x.Id == 7).FirstOrDefault();
    ViewBag.Title = embeddedSignSampleDetail.Name + " - BoldSign API Demo";
}

<div class="bs_font_family">
    <div class="pb_32 bs_crump pt_116">
        <span><a class="text-decoration-none bs_color_0565FF fs-16 lh_20 bs_ff_normal " href="/">API Demos </a></span><span class="bs_color_141D30"> > </span><span class="fs-16 lh_20 bs_color_666E80">Embedded Request  </span>
    </div>
    <div class="pb_16 fs-16 bs_color_141D30 bs_text-success max_w_900"> <img class="bs_text-success-img" src="@Url.Content("~/images/check-circle.svg")" />A signature request was successfully sent to @templatedetails.SignerEmail pre-filled with the information that you had provided. A document(@templatedetails.DocumentId) sent to  for signing with the given name prefilled.</div>
</div>
<div class="bs-vs-seprator border-none mb_32"></div>
<div class="bs_color_141D30 fs_24 lh_30 pb_32">Other Demos</div>
<partial name="~/Pages/Partial/ListCards.cshtml" model="sampleList.Where(x => x.Id != 7 && x.IsDisplayCard)" />
